@import 'layout';
@import 'colors';
.container {
  @include row();
  width: 100%;
  height: 5rem;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.logoContainer {
  margin-left: 1rem;
}

.logoImage {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.navigationContainer {
  @include row();
}
