@import 'colors.module';
@import 'layout';

.unsplashImageContainer {
  @include col();
  align-items: center;
}

.unsplashImage {
  position: relative;
  width: 300px;
  height: 300px;

  @include breakpoint('desktop') {
    width: 500px;
    height: 500px;
  }
}

.captionContainer {
  color: $color-basic-500;
  text-align: center;
  font-size: 14px;
}
.captionText {
}

.captionLink {
  border-bottom: 1px solid;
}
