@import 'colors.module';

.unsplashImage {
  width: 100%;
  height: auto;
}

.captionContainer {
  color: $color-basic-500;
  text-align: center;
  font-size: 14px;
}
.captionText {
}

.captionLink {
  border-bottom: 1px solid;
}
