@import 'layout';
@import 'colors.module';

.container {
  @include col();
  align-items: center;
  justify-content: center;
  width: 100%;
  flex: 1;
}

.postsContainer {
  width: 700px;
}

.draftItem {
  @include row();
}

.modalXIcon {
  width: 24px;
  height: 24px;
  color: $color-primary-500;
  cursor: pointer;
}
