@import 'colors';

.navigationItem {
  color: $color-primary-500;
  cursor: pointer;
  position: relative;
  width: 100%;
}

.navigationItemText {
  z-index: 100;
  width: 100%;
  position: relative;
  bottom: 0;
}

.navigationItemDecorator {
  position: absolute;
  background-color: $color-primary-300;
  height: 0.5rem;
  width: 100%;
  bottom: 0;
}
