@import 'layout';

.container {
  min-height: 100vh;
}

.editorContainer {
  // background-color: gray;
  min-width: 350px;
  min-height: 200vh;

  @include breakpoint('desktop') {
    min-width: 800px;
  }
}
