@import 'layout';

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image {
  position: relative;
  width: 300px;
  height: 300px;

  @include breakpoint('desktop') {
    width: 500px;
    height: 500px;
  }
}
