@import 'layout';
@import 'colors.module';

.container {
  @include col();
}

.textAreaInput {
  min-height: 10rem;
  resize: none;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  &:focus {
    outline-color: $color-primary-500;
    border-radius: 0.5rem;
  }
}
